<div class="todo-wrapper">
  <h2 class="todo-wrapper__h2">To Do App using VanillaJS</h2>
  <div class="todo-wrapper__todo todo">
    <div class="todo__header">
      <input type="text" class="todo__input" [(ngModel)]="newTask" placeholder="Enter something...">
      <button type="submit" class="todo__btn" (click)="add()"></button>
    </div>
    <span class="todo__warning" id="warning">You've already added this task to todo list, oh come on :)</span>
  </div>
  <div class="todo-wrapper__todo todo todo-boxes">
    <div class="todo__column">
      <div class="todo__body">
        <h2 class="todo__h2">I have to:
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
        </h2>
        <h3 class="todo__text" id="todo-text"></h3>
        <ul class="todo__list list" id="todo-list">
          <li *ngFor="let task of taskList" class="list__item item">
            <span class="item__text">{{task}}</span>
            <span class="item__buttons">
              <span class="item__buttons--done" (click)="done(task)"></span>
              <span class="item__buttons--remove" (click)="remove(task)"></span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="todo__column">
      <div class="todo__body">
        <h2 class="todo__h2">Completed tasks:
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </h2>
        <h3 class="todo__text" id="todo-text-done"></h3>
        <ul class="todo__list todo__list--done" id="done-list">
          <li *ngFor="let task of taskDone" class="list__item item">
            <span class="item__text">{{task}}</span>
            <span class="item__buttons">
              <span class="item__buttons--done" (click)="addToTodo(task)"></span>
              <span class="item__buttons--remove" (click)="removeDone(task)"></span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="removed" class="removed">
    <span class="removed__body"></span>
  </div>
</div>
<footer class="copy">&copy; 2017 Natalia Kiełbicka</footer>
